<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sign_in.css') }}">
</head>
<body>
    <div class="background-container">
        <img src="{{ url_for('static', filename='sign-in_background.png') }}" alt="">
    </div>
    
    <div class="form-container">
        <form method="POST" action="{{ url_for('sign_in_post') }}">
            <div class="username-wrapper">
                <input type="text" name="username" id="username" required minlength="4" maxlength="8">
            </div>
            <div class="password-wrapper">
                <input type="password" name="password" id="password" required minlength="4" maxlength="8">
            </div>
            <button type="submit" class="signin-button"></button>
        </form>
    </div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</body>
</html>