<!-- transfer_points.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transfer Points</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='transfer_points.css') }}">
</head>
<body>
    <div class="wrapper">
        <p class="selected-username">{{ selected_username }}</p>
        <p class="user-giver-points">
            <span class="prefix-text">Out of your</span>
            <span class="points-value">{{ current_user_giver_points }}</span>
            <span class="suffix-text">Giver points</span>
        </p>
        <form class="transfer-form" method="POST" action="{{ url_for('transfer_points', username=selected_username) }}">
            <input class="points-input" type="number" name="points" id="points" min="0" max="{{ current_user_giver_points }}" required placeholder="?כמה">
            <button type="submit">Transfer Points</button>
        </form>
        <form action="{{ url_for('home') }}" method="GET">
            <button type="submit">Cancel</button>
        </form>
    </div>
</body>
</html>